
.btn{
   border: 2px solid tomato;
   color: tomato;
   padding: 10px 20px ;
   background-color: transparent;
   transition-duration: 500ms;
   transition-timing-function: ease;
   position: relative;
   overflow: hidden;

}
.btn::after {
  content: '';
  height: 100%;
  width: 100%;
  background-color: white;
  position: absolute;
  top: 0;
  right: 0;
  transition-property: all;
  transition-duration: 500ms;
  transition-timing-function: ease;
  /* transform: translate(100px); */
  transform: rotate(120deg);
  z-index: -1;
  /* transform: scale(2); */
  transform: scaleX(0);
}

.btn:hover {
  /* transform: scale(1.1); */
  color: white;
}
.btn:hover::after{
  /* transform: translate(0); */
  transform: scaleX(1);
  background-color: tomato;
}










.main{
  border: 2px solid salmon;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  /* overflow: hidden;
  position: relative; */
  perspective: 500px;
}


.box-1 {
  /* position: absolute; */
  background-color: red ;
  height: 150px;
  width: 150px;
  transition-duration: 500ms;
  transition-timing-function: ease ;
}



.box-2 {
  /* position: absolute; */
  background-color: blue;
  height: 150px;
  width: 150px;
  transition-duration: 500ms;
  transition-timing-function: ease ;
  /* transform-origin: top-left; */
  transform-origin: bottom right;
}

.container-2{
     overflow: hidden;
}


.box-1:hover {
  /* transform: translateY(100px); */
  transform: rotateX(45deg);
  /* transform: scale(45deg); */
    transform: translateZ(100px);
 
}

.box-2:hover {
  /* transform: translateY(100px); */
  transform: skew(45deg, 30deg);
}


